workflows/WF-UI_tracker_ui.json
{
  "name": "WF-UI — 90-Day War Plan: Tracker UI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "tracker",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/akinwunmi-akinrimisi/war-plan-90-days/main/90day-tracker.html",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "name": "Fetch Tracker HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": { "type": "number", "operation": "equals" }
            }
          ]
        }
      },
      "name": "Fetch OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" },
              { "name": "Cache-Control", "value": "no-cache, no-store, must-revalidate" }
            ]
          }
        }
      },
      "name": "Respond with HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<html><body style='background:#06080b;color:#dce8f5;font-family:monospace;padding:40px;text-align:center'><h1 style='color:#f59e0b'>90-Day War Tracker</h1><p>Failed to load tracker. Check GitHub repo access.</p><p style='color:#4a5a6a'>Retry in a few seconds.</p></body></html>",
        "options": {
          "responseCode": "503",
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" },
              { "name": "Retry-After", "value": "5" }
            ]
          }
        }
      },
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 450]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Fetch Tracker HTML", "type": "main", "index": 0 }]] },
    "Fetch Tracker HTML": { "main": [[{ "node": "Fetch OK?", "type": "main", "index": 0 }]] },
    "Fetch OK?": { "main": [[{ "node": "Respond with HTML", "type": "main", "index": 0 }], [{ "node": "Respond Error", "type": "main", "index": 0 }]] }
  },
  "settings": { "timezone": "Africa/Lagos", "executionOrder": "v1" },
  "tags": [{ "name": "war-plan" }]
}
