workflows/WF03_nt_reading.json
{
  "name": "WF03 — 90-Day War Plan: NT Reading Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "25 6 * * 1-5" },
            { "field": "cronExpression", "expression": "15 7 * * 1-5" }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Day Counter — weekday-based 90-day counter starting March 2, 2026\nfunction getWeekdayDates() {\n  const dates = [];\n  const d = new Date('2026-03-02T00:00:00+01:00');\n  while (dates.length < 90) {\n    if (d.getDay() !== 0 && d.getDay() !== 6) dates.push(new Date(d));\n    d.setDate(d.getDate() + 1);\n  }\n  return dates;\n}\nconst weekdays = getWeekdayDates();\nconst now = new Date();\nconst todayStr = now.toISOString().split('T')[0];\nlet dayNum = null;\nfor (let i = 0; i < weekdays.length; i++) {\n  if (weekdays[i].toISOString().split('T')[0] === todayStr) { dayNum = i + 1; break; }\n}\nconst isWeekend = now.getDay() === 0 || now.getDay() === 6;\nconst weekNum = dayNum ? Math.ceil(dayNum / 5) : null;\nreturn [{ json: { day_number: dayNum, week_num: weekNum, is_weekend: isWeekend, date: todayStr } }];"
      },
      "name": "Day Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.is_weekend }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ]
        }
      },
      "name": "Weekend Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// NT Day Calculator — 14-day cycle with from/to ranges + message type\nconst NT_14DAY = {\n  1: [{book:'Matthew',from:1,to:28}],\n  2: [{book:'Mark',from:1,to:16},{book:'Luke',from:1,to:4}],\n  3: [{book:'Luke',from:5,to:24}],\n  4: [{book:'John',from:1,to:21}],\n  5: [{book:'Acts',from:1,to:14}],\n  6: [{book:'Acts',from:15,to:28}],\n  7: [{book:'Romans',from:1,to:16}],\n  8: [{book:'1 Corinthians',from:1,to:16}],\n  9: [{book:'2 Corinthians',from:1,to:13},{book:'Galatians',from:1,to:6}],\n  10: [{book:'Ephesians',from:1,to:6},{book:'Philippians',from:1,to:4},{book:'Colossians',from:1,to:4},{book:'1 Thessalonians',from:1,to:5}],\n  11: [{book:'2 Thessalonians',from:1,to:3},{book:'1 Timothy',from:1,to:6},{book:'2 Timothy',from:1,to:4},{book:'Titus',from:1,to:3},{book:'Philemon',from:1,to:1}],\n  12: [{book:'Hebrews',from:1,to:13},{book:'James',from:1,to:5}],\n  13: [{book:'1 Peter',from:1,to:5},{book:'2 Peter',from:1,to:3},{book:'1 John',from:1,to:5},{book:'2 John',from:1,to:1},{book:'3 John',from:1,to:1},{book:'Jude',from:1,to:1}],\n  14: [{book:'Revelation',from:1,to:22}]\n};\nconst dayNum = $input.first().json.day_number;\nconst ntDay = ((dayNum - 1) % 14) + 1;\nconst ntBooks = NT_14DAY[ntDay];\nconst hour = new Date().getHours();\nconst message_type = hour < 7 ? 'pre_task' : 'mid_task';\nconst readingLabel = ntBooks.map(b => `${b.book} ${b.from}-${b.to}`).join(', ');\n\nreturn [{ json: { ...$input.first().json, task: 'nt_reading', nt_day: ntDay, nt_books: ntBooks, nt_reading_label: readingLabel, message_type, tone_mode: 'faith', quote_source: 'bible_scripture' } }];"
      },
      "name": "NT Day Calculator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://yjckymmudyionytzkxcb.supabase.co/rest/v1/config?select=*&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU" },
            { "name": "Authorization", "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU" }
          ]
        },
        "options": {}
      },
      "name": "Read Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json[0].active }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "name": "Is Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://yjckymmudyionytzkxcb.supabase.co/rest/v1/daily_log?day_num=eq.{{ $('Day Counter').first().json.day_number }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU" },
            { "name": "Authorization", "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU" }
          ]
        },
        "options": {}
      },
      "name": "Get Daily Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer __OPENROUTER_API_KEY__" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4-5\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are the Bible reading coach for Akinwunmi's 90-Day War Plan.\\nGenerate a {{ $('NT Day Calculator').first().json.message_type }} reminder for NT reading on Day {{ $('Day Counter').first().json.day_number }}.\\n\\nNT Cycle Day {{ $('NT Day Calculator').first().json.nt_day }}/14: {{ $('NT Day Calculator').first().json.nt_reading_label }}\\nMessage type: {{ $('NT Day Calculator').first().json.message_type }}\\n\\nRules:\\n- pre_task (6:25 AM): State today's reading. Set context for the book.\\n- mid_task (7:15 AM): 'Are you reading? Stay in the Word.'\\n- Briefly explain what this NT section covers (1 sentence)\\n- Include one related scripture\\n- Tie reading to discipline and the War Plan mission\\n- 60-120 words. Tone: reverent, purposeful.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate the {{ $('NT Day Calculator').first().json.message_type }} NT reading reminder for Day {{ $('Day Counter').first().json.day_number }}. NT Cycle Day {{ $('NT Day Calculator').first().json.nt_day }}/14: {{ $('NT Day Calculator').first().json.nt_reading_label }}.\"\n    }\n  ],\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "name": "OpenRouter NT Reading",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 200],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.choices !== undefined && $json.choices.length > 0 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "name": "AI Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2010, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot__TELEGRAM_BOT_TOKEN__/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"463579738\",\n  \"text\": {{ JSON.stringify($('OpenRouter NT Reading').first().json.choices[0].message.content) }},\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://yjckymmudyionytzkxcb.supabase.co/rest/v1/interactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU" },
            { "name": "Authorization", "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"day_num\": {{ $('Day Counter').first().json.day_number }},\n  \"workflow\": \"WF03\",\n  \"channel\": \"telegram\",\n  \"message_sent\": {{ JSON.stringify($('OpenRouter NT Reading').first().json.choices[0].message.content) }},\n  \"created_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "name": "Log Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 100]
    },
    {
      "parameters": {
        "jsCode": "// Fallback: static message when OpenRouter fails\nconst dayNum = $('Day Counter').first().json.day_number;\nconst ntDay = $('NT Day Calculator').first().json.nt_day;\nconst readingLabel = $('NT Day Calculator').first().json.nt_reading_label;\nconst msg = `Day ${dayNum}. NT Day ${ntDay}: ${readingLabel}. Read the Word.`;\nreturn [{ json: { fallback_message: msg } }];"
      },
      "name": "Fallback Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot__TELEGRAM_BOT_TOKEN__/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"463579738\",\n  \"text\": {{ JSON.stringify($json.fallback_message) }},\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "name": "Send Telegram Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://yjckymmudyionytzkxcb.supabase.co/rest/v1/interactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU" },
            { "name": "Authorization", "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"day_num\": {{ $('Day Counter').first().json.day_number }},\n  \"workflow\": \"WF03\",\n  \"channel\": \"telegram\",\n  \"message_sent\": {{ JSON.stringify($('Fallback Message').first().json.fallback_message) }},\n  \"created_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "name": "Log Interaction Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2670, 350]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Day Counter", "type": "main", "index": 0 }]]
    },
    "Day Counter": {
      "main": [[{ "node": "Weekend Guard", "type": "main", "index": 0 }]]
    },
    "Weekend Guard": {
      "main": [
        [{ "node": "NT Day Calculator", "type": "main", "index": 0 }],
        []
      ]
    },
    "NT Day Calculator": {
      "main": [[{ "node": "Read Config", "type": "main", "index": 0 }]]
    },
    "Read Config": {
      "main": [[{ "node": "Is Active?", "type": "main", "index": 0 }]]
    },
    "Is Active?": {
      "main": [
        [{ "node": "Get Daily Log", "type": "main", "index": 0 }],
        []
      ]
    },
    "Get Daily Log": {
      "main": [[{ "node": "OpenRouter NT Reading", "type": "main", "index": 0 }]]
    },
    "OpenRouter NT Reading": {
      "main": [[{ "node": "AI Success?", "type": "main", "index": 0 }]]
    },
    "AI Success?": {
      "main": [
        [{ "node": "Send Telegram", "type": "main", "index": 0 }],
        [{ "node": "Fallback Message", "type": "main", "index": 0 }]
      ]
    },
    "Send Telegram": {
      "main": [[{ "node": "Log Interaction", "type": "main", "index": 0 }]]
    },
    "Fallback Message": {
      "main": [[{ "node": "Send Telegram Fallback", "type": "main", "index": 0 }]]
    },
    "Send Telegram Fallback": {
      "main": [[{ "node": "Log Interaction Fallback", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "timezone": "Africa/Lagos", "executionOrder": "v1" },
  "tags": [{ "name": "war-plan" }],
  "meta": { "templateCredsSetupCompleted": true },
  "pinData": {}
}
