workflows/WF04_book_reminder.json
{
  "name": "WF04 — 90-Day War Plan: Book Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "25 18 * * 1-5"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Day Counter — weekday-based 90-day counter starting March 2, 2026\nfunction getWeekdayDates() {\n  const dates = [];\n  const d = new Date(Date.UTC(2026, 2, 2));\n  while (dates.length < 90) {\n    if (d.getUTCDay() !== 0 && d.getUTCDay() !== 6) dates.push(d.toISOString().split('T')[0]);\n    d = new Date(d.getTime() + 86400000);\n  }\n  return dates;\n}\nconst weekdays = getWeekdayDates();\nconst now = new Date();\nconst todayStr = now.toLocaleDateString('en-CA', { timeZone: 'Africa/Lagos' });\nlet dayNum = null;\nfor (let i = 0; i < weekdays.length; i++) {\n  if (weekdays[i] === todayStr) { dayNum = i + 1; break; }\n}\nconst watDay = new Date(todayStr + 'T12:00:00Z').getUTCDay();\nconst isWeekend = watDay === 0 || watDay === 6;\nconst weekNum = dayNum ? Math.ceil(dayNum / 5) : null;\nreturn [{ json: { day_number: dayNum, week_num: weekNum, is_weekend: isWeekend, date: todayStr } }];"
      },
      "name": "Day Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_weekend }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "name": "Weekend Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Book Reminder — 1 book/day, 50 pages target, determine pre/post from time\nconst hour = new Date().getHours();\nconst message_type = hour < 10 ? 'pre_task' : 'post_task';\n\nreturn [{ json: { ...$input.first().json, task: 'book_reading', pages_target: 50, books_per_day: 1, message_type, tone_mode: 'coach', quote_source: 'business_quote' } }];"
      },
      "name": "Book Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://yjckymmudyionytzkxcb.supabase.co/rest/v1/config?select=*&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU"
            }
          ]
        },
        "options": {}
      },
      "name": "Read Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json[0].active }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "Is Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1350,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://yjckymmudyionytzkxcb.supabase.co/rest/v1/daily_log?day_num=eq.{{ $('Day Counter').first().json.day_number }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Daily Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1570,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer __OPENROUTER_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4-5\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are the reading coach for Akinwunmi's 90-Day War Plan.\\nGenerate a book reminder for Day {{ $('Day Counter').first().json.day_number }}.\\n\\nTarget: 50 pages today | Pages logged so far: {{ $('Get Daily Log').first().json[0] ? $('Get Daily Log').first().json[0].book_pages || 0 : 0 }}\\nBook: {{ $('Get Daily Log').first().json[0] ? $('Get Daily Log').first().json[0].book_title || 'Check your reading list' : 'Check your reading list' }}\\nMessage type: {{ $('Book Reminder').first().json.message_type }}\\nTotal pages read (90-day): {{ $('Get Daily Log').first().json[0] ? $('Get Daily Log').first().json[0].pages_total || 0 : 0 }} / 4,500 target\\n\\nRules:\\n- pre_task: Name the book if known, set 50-page target, motivate\\n- post_task: Check progress. If 0 pages: 'You haven't read today.'\\n- Include one quote from a business/self-help author\\n- Tie reading to building the AI agency (Operscale)\\n- 60-120 words. Tone: coach, growth-focused.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate the {{ $('Book Reminder').first().json.message_type }} book reminder for Day {{ $('Day Counter').first().json.day_number }}. Target: 50 pages. Pages logged: {{ $('Get Daily Log').first().json[0] ? $('Get Daily Log').first().json[0].book_pages || 0 : 0 }}.\"\n    }\n  ],\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "name": "OpenRouter Book",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1790,
        200
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.choices !== undefined && $json.choices.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "AI Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2010,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot__TELEGRAM_BOT_TOKEN__/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"463579738\",\n  \"text\": {{ JSON.stringify($('OpenRouter Book').first().json.choices[0].message.content) }},\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2230,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://yjckymmudyionytzkxcb.supabase.co/rest/v1/interactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"day_num\": {{ $('Day Counter').first().json.day_number }},\n  \"workflow\": \"WF04\",\n  \"channel\": \"telegram\",\n  \"message_sent\": {{ JSON.stringify($('OpenRouter Book').first().json.choices[0].message.content) }},\n  \"created_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "name": "Log Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2450,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fallback: static message when OpenRouter fails\nconst dayNum = $('Day Counter').first().json.day_number;\nconst msg = `Day ${dayNum}. Read 50 pages. Knowledge compounds.`;\nreturn [{ json: { fallback_message: msg } }];"
      },
      "name": "Fallback Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2230,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot__TELEGRAM_BOT_TOKEN__/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"463579738\",\n  \"text\": {{ JSON.stringify($json.fallback_message) }},\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "name": "Send Telegram Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2450,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://yjckymmudyionytzkxcb.supabase.co/rest/v1/interactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqY2t5bW11ZHlpb255dHpreGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTI1MDksImV4cCI6MjA4Nzg4ODUwOX0.F5I8t1-nTNjNy8h9a0ikm6MBtgvCvQmNEpov3OI8pKU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"day_num\": {{ $('Day Counter').first().json.day_number }},\n  \"workflow\": \"WF04\",\n  \"channel\": \"telegram\",\n  \"message_sent\": {{ JSON.stringify($('Fallback Message').first().json.fallback_message) }},\n  \"created_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "name": "Log Interaction Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2670,
        350
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Day Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day Counter": {
      "main": [
        [
          {
            "node": "Weekend Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekend Guard": {
      "main": [
        [
          {
            "node": "Book Reminder",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Book Reminder": {
      "main": [
        [
          {
            "node": "Read Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config": {
      "main": [
        [
          {
            "node": "Is Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Active?": {
      "main": [
        [
          {
            "node": "Get Daily Log",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Daily Log": {
      "main": [
        [
          {
            "node": "OpenRouter Book",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Book": {
      "main": [
        [
          {
            "node": "AI Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Success?": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "Log Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Message": {
      "main": [
        [
          {
            "node": "Send Telegram Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Fallback": {
      "main": [
        [
          {
            "node": "Log Interaction Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Africa/Lagos",
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "war-plan"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}