workflows/WF05_coding_reminders.json
{
  "name": "WF05 — 90-Day War Plan: Coding Reminders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "25 4 * * 1-5" },
            { "field": "cronExpression", "expression": "55 13 * * 1-5" },
            { "field": "cronExpression", "expression": "25 21 * * 1-5" }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Day Counter — weekday-based 90-day counter starting March 2, 2026\nfunction getWeekdayDates() {\n  const dates = [];\n  const d = new Date('2026-03-02T00:00:00+01:00');\n  while (dates.length < 90) {\n    if (d.getDay() !== 0 && d.getDay() !== 6) dates.push(new Date(d));\n    d.setDate(d.getDate() + 1);\n  }\n  return dates;\n}\nconst weekdays = getWeekdayDates();\nconst now = new Date();\nconst todayStr = now.toISOString().split('T')[0];\nlet dayNum = null;\nfor (let i = 0; i < weekdays.length; i++) {\n  if (weekdays[i].toISOString().split('T')[0] === todayStr) { dayNum = i + 1; break; }\n}\nconst isWeekend = now.getDay() === 0 || now.getDay() === 6;\nconst weekNum = dayNum ? Math.ceil(dayNum / 5) : null;\nreturn [{ json: { day_number: dayNum, week_num: weekNum, is_weekend: isWeekend, date: todayStr } }];"
      },
      "name": "Day Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.is_weekend }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ]
        }
      },
      "name": "Weekend Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Determine coding block from trigger time — 3 blocks, 3.5 hrs target\nconst hour = new Date().getHours();\nlet task;\nif (hour < 6) task = 'coding_block_1';\nelse if (hour < 16) task = 'coding_block_2';\nelse task = 'coding_block_3';\n\nreturn [{ json: { ...$input.first().json, task, coding_blocks: 3, target_hrs: 3.5, message_type: 'pre_task', tone_mode: 'coach', quote_source: 'personal_development' } }];"
      },
      "name": "Determine Block",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/config?select=*&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_API_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_API_KEY }}" }
          ]
        }
      },
      "name": "Read Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json[0].active }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "name": "Is Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/daily_log?day_num=eq.{{ $('Day Counter').first().json.day_number }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_API_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_API_KEY }}" }
          ]
        }
      },
      "name": "Get Daily Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Generate a start-of-block reminder for a coding task on Weekday {{ $('Day Counter').first().json.day_number }}.\\n\\nCurrent coding hours logged today: {{ $json[0] ? ($json[0].code_hrs || 0) : 0 }} hrs. Target: 3.5 hrs across 3 blocks.\\n\\n- Block 1 (4:25 AM): 'Deep work window — most powerful hours'\\n- Block 2 (1:55 PM): 'Afternoon blocks separate builders from dreamers'\\n- Block 3 (9:25 PM): 'Final session. Ship something a client will pay for.'\\n- Include one builder/personal dev quote\\n- Tie to Operscale client deliverables, AI automation income\\n- 100–250 words. Tone: competitive, results-driven.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Day {{ $('Day Counter').first().json.day_number }} of 90. Task: {{ $('Determine Block').first().json.task }}. Code hours so far: {{ $json[0] ? ($json[0].code_hrs || 0) : 0 }}. Generate my coding block reminder now.\"\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.8\n}",
        "options": { "timeout": 30000 }
      },
      "name": "OpenRouter Coding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 200],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.choices }}",
              "rightValue": "",
              "operator": { "type": "array", "operation": "notEmpty" }
            }
          ]
        }
      },
      "name": "AI Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2010, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": {{ JSON.stringify($json.choices[0].message.content) }}, \"parse_mode\": \"Markdown\"}"
      },
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/interactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_API_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow\": \"WF05\",\n  \"day_num\": {{ $('Day Counter').first().json.day_number }},\n  \"direction\": \"outbound\",\n  \"message_type\": \"coding_reminder\",\n  \"task\": \"{{ $('Determine Block').first().json.task }}\",\n  \"ai_generated\": true,\n  \"created_at\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "name": "Log Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 100]
    },
    {
      "parameters": {
        "jsCode": "// Fallback message when AI fails\nconst dayNum = $('Day Counter').first().json.day_number;\nconst block = $('Determine Block').first().json.task;\nconst blockLabel = block.replace('coding_block_', 'Block ');\nconst msg = `Day ${dayNum}. ${blockLabel}. Code for 1+ hour. Ship something. — 3.5 hrs target.`;\nreturn [{ json: { fallback_message: msg } }];"
      },
      "name": "Fallback Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": {{ JSON.stringify($json.fallback_message) }}, \"parse_mode\": \"Markdown\"}"
      },
      "name": "Send Telegram Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/interactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_API_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow\": \"WF05\",\n  \"day_num\": {{ $('Day Counter').first().json.day_number }},\n  \"direction\": \"outbound\",\n  \"message_type\": \"coding_reminder_fallback\",\n  \"task\": \"{{ $('Determine Block').first().json.task }}\",\n  \"ai_generated\": false,\n  \"created_at\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "name": "Log Interaction Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2670, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Day Counter", "type": "main", "index": 0 }]] },
    "Day Counter": { "main": [[{ "node": "Weekend Guard", "type": "main", "index": 0 }]] },
    "Weekend Guard": { "main": [[{ "node": "Determine Block", "type": "main", "index": 0 }], []] },
    "Determine Block": { "main": [[{ "node": "Read Config", "type": "main", "index": 0 }]] },
    "Read Config": { "main": [[{ "node": "Is Active?", "type": "main", "index": 0 }]] },
    "Is Active?": { "main": [[{ "node": "Get Daily Log", "type": "main", "index": 0 }], []] },
    "Get Daily Log": { "main": [[{ "node": "OpenRouter Coding", "type": "main", "index": 0 }]] },
    "OpenRouter Coding": { "main": [[{ "node": "AI Success?", "type": "main", "index": 0 }]] },
    "AI Success?": { "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }], [{ "node": "Fallback Message", "type": "main", "index": 0 }]] },
    "Send Telegram": { "main": [[{ "node": "Log Interaction", "type": "main", "index": 0 }]] },
    "Fallback Message": { "main": [[{ "node": "Send Telegram Fallback", "type": "main", "index": 0 }]] },
    "Send Telegram Fallback": { "main": [[{ "node": "Log Interaction Fallback", "type": "main", "index": 0 }]] }
  },
  "settings": { "timezone": "Africa/Lagos", "executionOrder": "v1" },
  "tags": [{ "name": "war-plan" }]
}